/*
 * Keep It Simple, Stupid!
 * Filename: themes/start.css
 * by German Bernhardt
 * E-mail:<german.bernhardt@gmail.com>
 *
 * This program is free software;you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation;either version 2 of the License.
 */

html{font:22px sans-serif}
img{border:none;}
th{padding:0px;font-weight:bold}
td{padding:0px;}
div[hidden] {display:none;}

.dialog-subtitle{width:200px;}

a:link{color:#000000;text-decoration:none;}
a:visited{color:#000000;text-decoration:none;}
a:active{color:#000000;text-decoration:none;}
a:hover{color:#bbbbbb;text-decoration:none;}
.icon-toolbar {
	width:40px;
    height:40px;
    cursor:hand;
    position:absolute;
    margin-left:4px;
    margin-top:4px;
    background:url(../images/icons-mobile.png) no-repeat scroll 0 0 transparent;
    background-position:0px 0px;}
/*
 * ICONS & PADDING MENU
 */
.icon {
	width:40px;
    height:40px;
    cursor:hand;
    position:absolute;
    background:url(../images/icons.png) no-repeat scroll 0 0 transparent;
    background-position:0px 0px;}

.icon-hide   {background-position:0px 0px;}
.icon-view   {background-position:0px -40px;}
.icon-add    {background-position:0px -80px;}
.icon-edit   {background-position:0px -120px;}
.icon-remove {background-position:0px -158px;}
.icon-print  {background-position:0px -201px;}
.icon-query  {background-position:0px -242px;}
.icon-make   {background-position:0px -282px;}
.icon-save   {background-position:0px -324px;}
.icon-upload {background-position:0px -364px;}
.icon-adjunto{background-position:0px -405px;}
.icon-success{background-position:0px -448px;}
.icon-stop   {background-position:0px -495px;}
.icon-error  {background-position:0px -670px;}
.icon-info   {background-position:0px -715px;}
.icon-lock   {background-position:0px -758px;}
.icon-unlock {background-position:0px -796px;}
.icon-excel  {background-position:0px -837px;}

.menu        {padding-left:20px;}
.menu-h      {height:75px;font-size: 240%;}
/*
 * BLOCK BASICS
 */
#content_left {
    font-size: 200%;
    display: block;
}

.block {display:none; margin:0 0 0.1em 0;}
.block-header {margin:0.1em;padding-bottom:4px;padding-left:0.2em;cursor:move;}
.block-header .ui-icon {float:right;cursor:pointer;}
.block-content {padding:0.4em;}
.ui-sortable-placeholder {border:1px dotted black;visibility:visible !important;height:50px !important;}
.ui-sortable-placeholder * {visibility:hidden;}

/*
/*
 * INPUTS NORMAL
 */
.dialog-input {
    width:calc(100% - 10px);
    margin: 0;
    padding: 0.18em 0em 0.17em 0.15em;
}
#login {
 width: 50%;
 height: 100px;
}
input,select,textarea,button{
    background-image: none;
    padding: .1em;
    font-size: 240%;
    display: block;
    width: 50%;
    border:1px solid #A6C9E2;
    margin:2px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.title{font-weight:bold;font-size:240%;}
.subtitle{font-weight:bold;}
#fade{top:0px;left:0px;width:100%;height:100%;}
.login{text-align:center;font:200% sans-serif !important;font-weight:bold;color:#000000;}

td#content_left {width:20em;float:left;}
td#content_center {vertical-align:top;}

#window-menu{
 display:none;
 padding:10px;
 position:absolute;
 z-index:10000;
 overflow:auto;
}

/*
 * GRID LIST
 */
.list_odd{background:#bbbbbb;}
.list_even{background:#eeeeee;}
.list{background:#cccccc;}
.list_gray{background:#cccccc;}
.list_red{background:#CD5555;}
.list_green{background:#84BE6A;}
.list_blue{background:#63D1F4;}
.list_yellow{background:#FBEC5D;}
.list_orange{background:#FF7F50;}
.list_brown{background:#FF7F50;}
ul.topnav {list-style:none;margin:0;float:left;}
ul.topnav li {float:left;margin:0;padding:0 15px 0 0;position:relative;}
ul.topnav li a{padding:5px 5px;color:#000;display:block;text-decoration:none;float:left;}
ul.topnav li span {width:17px;height:35px;float:left;background:url(../images/down.png) no-repeat center top;}
ul.topnav li span.subhover {cursor:pointer;}
ul.topnav li ul.subnav {list-style:none;position:absolute;left:0;top:26px;background:#fff;margin:0;padding:0;display:none;float:left;width:200px;border:1px solid #111;}
ul.topnav li ul.subnav li{width:170px;}

        .ui-button {margin:2px 0px 5px 5px;height:48px;width:calc(100% - 10px);}
        .ui-button-icon-only .ui-button-text {padding:0.35em;}
        .ui-autocomplete-input {margin:0;padding:0.18em 0em 0.17em 0.15em;}

.print-dashed{border:1px dashed #000000;}
.print-dashed-left{border-left:1px dashed #000000;}
.print-dashed-right{border-right:1px dashed #000000;}
.print-dashed-top{border-top:1px dashed #000000;}
.print-dashed-bottom{border-bottom:1px dashed #000000;}

.print{border:1px solid #000000;}
.noprint{border:1px solid #ffffff;}
.print-left{border-left:1px solid #000000;}
.print-right{border-right:1px solid #000000;}
.print-top{border-top:1px solid #000000;}
.print-bottom{border-bottom:1px solid #000000;}

#print{display:none;visibility:hidden;}
@media print {
 div{display:none;visibility:hidden;}
 div#print{
  display:block;
  visibility:visible;
  width:100%;
  border:1px solid #000000;
  background-color:white !important;
  background-image:none !important;
 }
 @page {size:20cm 20cm;margin:1cm;}
}